body {
  background-image: url("sky.jpg");
  background-repeat: no-repeat;
}
h1 {
  font-family: "Fasthand", cursive;
  color: #6d6e71;
  margin-top: 15px;
}

ul {
  margin-top: 10px;
}
li {
  list-style-type: none;
  font-family: "Nunito Sans", sans-serif;
}
.temperature {
  font-size: 20px;
}

.Weather {
  background-color: rgb(208, 163, 207, 0.7);
  height: 100%;
  padding: 20px;
  font-family: sans-serif;
  margin: 30px auto;
  max-width: 600px;
  border: 1px solid;
  border-color: grey;
  border-radius: 10px;
  height: 500px;
  box-sizing: border-box;
}
.temperature-info {
  margin-top: 30px;
  font-size: 55px;
}
button {
  margin: 0;
}
form {
  display: block;
  margin-top: 0cm;
}
